<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PuntoDeVentaRamirez.Properties.Settings.ELECTRONICAConnectionString"
            connectionString="Data Source=DESKTOP-8I9VLRK\SQLEXPRESS;Initial Catalog=ELECTRONICA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>